.boton{
    display: flex;
    align-items: center;
    width: auto;
    border: none;
}
.cart{
    height: 1.5rem;
    width: 1.5rem;
}
.boton:hover{
    background-color: #bbb;
    cursor: pointer;
}